doctype html
html(lang='en')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  body.site
    p &nbsp;
    .container
      .content
        .center
          img#logo(src="http://i.imgur.com/fHt53ne.png", alt="DoCSoc")
        br
        h1.title= page.title
        if page.subtitle
          h2.title= page.subtitle
        if page.date
          p.date= page.date
        if page.show_social
          .head-links
            a(href="http://bit.ly/icdocsoc_fb")
              img(src="http://i.imgur.com/mwEtDPb.png", alt="Facebook")
              | &nbsp;/ICDoCSoc
            | &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            a(href="http://bit.ly/icdocsoc_twitter")
              img(src="http://i.imgur.com/O3B3wWb.png", alt="Twitter")
              | &nbsp;@ICDoCSoc
        hr
        if page.show_agenda
          section.agenda
            ol
              for item in page.agenda
                li= item

      .main(role='main')
        section.content
          != content
      if page.show_sponsorship
        .content
          hr
          .sponsored-by
            p DoCSoc is Sponsored By
            img(src="http://i.imgur.com/VIy1Ff2.png")
    p &nbsp;
