!!! 5
html(lang='en')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  body.site
    p &nbsp;
    .container
      .content
        h1.title= page.title
        if page.subtitle
          h2.title= page.subtitle
        if page.date
          p.date= page.date
        if page.show_social
          .head-links
            a(href="http://bit.ly/icdocsoc_fb") Join DoCSoc on Facebook
            | &nbsp;&nbsp;|&nbsp;&nbsp;
            a(href="http://bit.ly/icdocsoc_twitter") Follow @ICDoCSoc on Twitter
        hr
        if page.agenda
          section.agenda
            ol
              for item in page.agenda
                li= item

      .main(role='main')
        section.content
          != content
      .content
        hr
        .sponsored-by
          p DoCSoc is Sponsored By
          img(src="http://docsoc.s3.amazonaws.com/sponsored_by.png")
    p &nbsp;
